irc.server.oftc */msg NickServ identify {{oftc.password}}
irc.server.freenode */msg NickServ identify {{freenode.password}}
irc.server.oftc */msg NickServ cert add
irc.server.freenode */msg NickServ cert add
